// 'Roboto-SemiBold'
@font-face{
    font-family: 'Roboto-SemiBold';
    src: url(../fonts/Roobert-SemiBold.woff2);
    font-weight: 400;
}
// 'Juanito'
@font-face{
    font-family: 'Juanito';
    src: url(../fonts/Juanito.woff2);
    font-weight: 500;
}
// 'neue-haas'
@font-face{
    font-family: 'neue-haas';
    src: url(../fonts/neue-haas.woff2);
    font-weight: 500;
}
// 'Regarn-Bold'
@font-face{
    font-family: 'Regarn-Bold';
    src: url(../fonts/63dbef82c8d91230aa1761c1_Regarn-Bold.otf);
    font-weight: 500;
}
// 'SBAggroB';
@font-face {
    font-family: 'SBAggroB';
    src: url(../fonts/MiConv.com__SB_aggro_L.woff);
    font-weight: 300;
}
@font-face {
    font-family: 'SBAggroB';
    src: url(../fonts/MiConv.com__SB_aggro_M.woff);
    font-weight: 500;
}
@font-face {
    font-family: 'SBAggroB';
    src: url(../fonts/MiConv.com__SB_aggro_B.woff);
    font-weight: 700;
}
// font-family: 'GmarketSans';
@font-face {
    font-family: 'GmarketSans';
    src: url(../fonts/GmarketSansLight.otf);
    font-weight: 300;
}
@font-face {
    font-family: 'GmarketSans';
    src: url(../fonts/GmarketSansMedium.otf);
    font-weight: 500;
}
@font-face {
    font-family: 'GmarketSans';
    src: url(../fonts/GmarketSansBold.otf);
    font-weight: 700;
}
// font-family: '';
@font-face {
    font-family: 'Pretendard';
    src: url(../fonts/Pretendard-Light.woff);
    font-weight: 300;
}
@font-face {
    font-family: 'Pretendard';
    src: url(../fonts/Pretendard-Medium.woff);
    font-weight: 500;
}
@font-face {
    font-family: 'Pretendard';
    src: url(../fonts/Pretendard-Bold.woff);
    font-weight: 700;
}