$--c-bg:rgb(247, 245, 247);
$--c-primary: #e3ff00;
$--c-green: #34ff8e;
$--c-mint: #33f7e1;
$--c-blue: #1775ef;
$--c-pink: #eb0387;
$--c-yellow: #f7d110;
$--c-orange: #F2695C;

// blue
$--colors-blueLight: #f1f7ff;
$--colors-blueMid: #8d91ff;
$--colors-blue: #2427e6;

//pink
$--colors-babypink: #fb95a9;
$--colors-pink: #FF5A81;
$--colors-neonpink: #ff2780;


